@import 'normalize.css';
@import './index.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding: 1rem;
  background: #fbfbfb;
}

p {
  margin: 0;
  line-height: 1.7;
}

.box {
  margin-bottom: 1rem;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

i.material-icons {
  font-size: 3rem;
}

[data-ff-toggle-box-top],  
[data-ff-toggle-box-bottom] {
  padding: 1rem;
}

[data-ff-toggle-box-top] {
  border: 3px solid #f1fff6;
}

[data-ff-toggle-box-bottom] {
  background: #f1fff6;
}

[data-ff-toggle-box='is-open'] i {
  transform: rotate(90deg);
}

